* {
    font-family: 'Lato';
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1516796181074-bf453fbfa3e6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4520a8fb1519f78738dbd64357638081&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
}

h1,
p,
input,
.appgif {
    margin: 30px
}

p {
    font-size: 24px;
}

input {
    width: 200px;
    padding: 5px;
}